<img src=<%= @pet.image_address%> width="200">
<h1>name: <%= @pet.name%></h1>
<p>age: <%= @pet.age%></p>
<p>gender: <%= @pet.gender%></p>
<p>description: <%= @pet.description%></p>
<button>ADOPT</button>