<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <title>Sign up</title>

</head>



<body style="text-align: center;">
<div class="error">
<h2><%= @display %></h2>
<% flash.each do |type, msg| %>
    <div>
      <%= msg %>
    </div>
  <% end %>

</div>

    <h1>Sign Up</h1>

<%= form_tag users_path do %>

    <label>Name:</label><br>
    <%= text_field_tag :'user[name]' %><br>

    <label>Email:</label><br>
    <%= text_field_tag :'user[email]' %><br>

    <label>Password:</label><br>
    <%= password_field_tag :'user[password_digest]' %><br>

    <label>Repeat Password:</label><br>
    <%= password_field_tag :'user[confirm_password]' %><br>


    <br>
    <%= submit_tag "Sign up" %><br>
<% end %>
<p><span>Already have an account? <button><%=link_to "Login", login_path %></button></span></p>
</body>
</html>  